$bg-color: black;
$font-color-light: white;
$font-color-dark: black;

$font-color: white;
$border-color: white;

$primary-color: #333366;
$secondary-color: #f1c40f;

$font-family-menu: "Poppins";
$font-family-titre: "Ubuntu";
$font-family-text: "Roboto";
$font-family-p: "Noto Sans";
