<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
    <img src="assets/img/logo.png" alt="" height="45" width="45">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-sign-in" href="#">Sign in</a>
        </li>
      </ul>
    </div>
    <button class="collapse navbar-collapse btn btn-md btn-outline-secondary" id="navbarCollapse" type="button" style="flex-grow: 0;">Sign in</button>
  </div>
</nav>

<!--HOME SECTION -->
<header id="home-section">
  <div class="home-inner">
    <div class="container" [ngsReveal]="{ duration: 2000, origin:'bottom', distance: '300px', viewFactor: 0.2}">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="display-4 mb-2">Find the right home for you</h1>
          <p class="lead mb-3">Simple Platform. Trophy Assets. Opportunistic Investments.</p>
        </div>
      </div>
    </div>
    <div class="container" [ngsReveal]="{ duration: 2000, origin:'bottom', distance: '300px', delay: 2000, viewFactor: 0.2}">
      <div class="row">
        <div class="col-md-10 mx-auto search-bar">
          <div class="d-md-flex d-md-row">
            <p>Quick<br>search</p>
            <i class="fas fa-search"></i>
            <div class="input-group" style="margin-right: 4px">
              <input type="text" class="form-control" placeholder="Enter Your Keyworld ..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="dropdown" style="margin-right: 4px">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All City
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">France</a>
                <a class="dropdown-item" href="#">Canada</a>
                <a class="dropdown-item" href="#">Senegal</a>
              </div>
            </div>
            <div class="dropdown" style="margin-right: 4px">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Type
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">House</a>
                <a class="dropdown-item" href="#">Apartment</a>
              </div>
            </div>
            <a href="" class="btn btn-secondary btn-sm my-button">Search<i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--ABOUT US SECTION -->
<section id="about-section" [ngsReveal]="{ duration: 2000, origin:'bottom', distance: '300px', viewFactor: 0.2}">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 AboutUs-left mx-auto">
        <h2>#About Us</h2>
        <p>We are the leader in the <br>real estate</p>
        <p>Whether you’re looking for property for sale in New York area or property for rent, Taiyo Real Estate makes searching easy.<br><br>
          Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or apartment and contact the owners direct. We will help you find your dream ...</p>
          <br><br>
          <div class="about-border">
            <div class="border-about"></div>
            <div class="d-md-flex d-md-row">
              <p>24</p>
              <p>Years<br>Experience<br>Working</p>
            </div>
            <div class="d-md-flex d-md-row">
              <i class="fas fa-search"></i>
              <p>Call Us Now<br>(+1)-800-555-6789</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-9 w-100 mr-auto ml-auto AboutUs-right mx-auto">
          <img src="assets/img/member.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!--ALL Properties SECTION -->
  <section id="properties-section" [ngsReveal]="{ duration: 2000, origin:'bottom', distance: '300px', viewFactor: 0.2}">
    <div class="container">
      <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-4 mx-auto">
          <p><span>O</span>ur Properties</p>
        </div>
        <div class="col-md-4 mx-auto">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-properties-tab" data-toggle="pill" href="#pills-properties" role="tab" aria-controls="pills-properties" aria-selected="true">All Properties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-rent-tab" data-toggle="pill" href="#pills-rent" role="tab" aria-controls="pills-rent" aria-selected="false">For Rent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-sale-tab" data-toggle="pill" href="#pills-sale" role="tab" aria-controls="pills-sale" aria-selected="false">For Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-house-tab" data-toggle="pill" href="#pills-house" role="tab" aria-controls="pills-house" aria-selected="false">Open House</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-properties" role="tabpanel" aria-labelledby="pills-properties-tab">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home3.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home3.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-rent" role="tabpanel" aria-labelledby="pills-rent-tab">
        <div class="tab-pane fade show active" id="pills-properties" role="tabpanel" aria-labelledby="pills-properties-tab">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home3.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-sale" role="tabpanel" aria-labelledby="pills-sale-tab">
        <div class="tab-pane fade show active" id="pills-properties" role="tabpanel" aria-labelledby="pills-properties-tab">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home3.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-house" role="tabpanel" aria-labelledby="pills-house-tab">
        <div class="tab-pane fade show active" id="pills-properties" role="tabpanel" aria-labelledby="pills-properties-tab">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home3.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home1.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home4.png" alt="Card image cap">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="assets/img/home2.png" alt="Card image cap">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Last News SECTION -->
  <section id="news-section" [ngsReveal]="{ duration: 2000, origin:'bottom', distance: '300px', viewFactor: 0.2}">
    <div class="container">
      <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p><span>L</span>atest News</p>
        </div>
        <div class="col-md-5 text-right">
          <a href="#">Show All News <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto mb-5">
                <div class="box">
                    <img src="assets/img/news_pic.png" alt="">
                    <div class="my-box">
                        <h3 class="title">May 12, 2017</h3>
                        <p class="lieu">Fort Greene Parking Lot Will Give Way</p>
                        <p class="description">
                            By Tanay Warerkar, Curbed New York A massive new rental building is set to rise on a former parking lot in Fort Greene, courtesy of RXR Realty ...
                        </p>
                          <a href="#" class="read-more">Continue<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto mb-5">
                <div class="box">
                    <img src="assets/img/news_pic.png" alt="">
                    <div class="box-content">
                        <h3 class="title">May 12, 2017</h3>
                        <p class="lieu">Fort Greene Parking Lot Will Give Way</p>
                        <p class="description">
                            By Tanay Warerkar, Curbed New York A massive new rental building is set to rise on a former parking lot in Fort Greene, courtesy of RXR Realty ...
                        </p>
                          <a href="#" class="read-more">Continue<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 col-9 w-100 mr-auto ml-auto mb-5">
                <div class="box">
                    <img src="assets/img/news_pic.png" alt="">
                    <div class="box-content">
                        <h3 class="title">May 12, 2017</h3>
                        <p class="lieu">Fort Greene Parking Lot Will Give Way</p>
                        <p class="description">
                            By Tanay Warerkar, Curbed New York A massive new rental building is set to rise on a former parking lot in Fort Greene, courtesy of RXR Realty ...
                        </p>
                          <a href="#" class="read-more">Continue<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer-section">
  <div class="container">
    <div class="row">
    <div class="col-md-2 col-sm-6 col-12 text-center text-sm-left mb-4">
      <img src="assets/img/logo.png" alt="" height="45" width="45">
    </div>
    <div class="col-md-2 col-sm-6 col-6 mb-4">
      <p>© Taiyo Real Estate 2017<br>
      All Rights Resevered</p>
    </div>
    <div class="col-md-2 col-sm-6 col-6 mb-4">
        <ul class="list-group">
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Term & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Affiliatep</a></li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-6 col-6 mb-4">
      <ul class="list-group">
        <li><a href="#">Our Location</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 col-6">
      <ul class="list-group">
        <li><a href="#">ENG</a></li>
        <li><a href="#">FRA</a></li>
        <li><a href="#">GER</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 col-12">
      <input type="text" class="form-control" placeholder="Subscribe Newsletter" name="" value=""><br>
        <div class="d-md-flex d-md-row text-center">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-twitter-square"></i></a>
          <a href=""><i class="fab fa-google-plus-g"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
  </div>
  </div>
</footer>
